/* reset css based on Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) */
* { margin: 0; padding: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }

/* fontset */
body { font-family: "Source Han Sans", "Noto Sans CJK JP", "Hiragino Kaku Gothic Std", "M+ 1p", "Roboto", "Arial", "HGPGothicE", "Yu Gothic", "Meiryo", sans-serif; font-weight: 300; font-size: 12px; }
@media (min-width: 480px) { body { font-size: 16px; } }
@media (min-width: 48em) { body { font-size: 18px; } }

h1, h2, h3, h4, h5, h6, .home .post-link { font-family: "Source Han Sans", "Noto Sans CJK JP", "Hiragino Kaku Gothic Std", "M+ 1p", "Roboto", "Arial Black", "Yu Gothic", "Meiryo", sans-serif; font-weight: 900; }

pre, code, .post-content pre, samp, kbd { font-family: "Source Code Pro", "M+ 1m", "Consolas", "Droid Sans Mono", monospace; }

@media (min-width: 480px) { pre, figcaption, table caption { font-size: smaller; } }

em { font-weight: bolder; font-style: italic; }

:lang(ja) em { font-style: normal; -webkit-text-decoration-style: double; -moz-text-decoration-style: double; text-decoration-style: double; -webkit-text-decoration-line: underline; -moz-text-decoration-line: underline; text-decoration-line: underline; }

strong { font-weight: 900; font-style: normal; }

/* cat-in-136.blog() base */
html, body { height: 100%; background-color: #fff; color: #000; line-height: 1.5; }

a { color: #064583; text-decoration: none; transition: color 0.5s linear; }

a:hover { color: #e54848 !important; text-decoration: underline; }

a:visited { color: #8f4889; }

/* Utility */
.wrap:before, .wrap:after { content: ""; display: table; }

.wrap:after { clear: both; }

.wrap { padding: 0 0; margin: 0 auto; zoom: 1; }
@media screen and (min-width: 480px) { .wrap { padding: 0 30px; } }
@media screen and (min-width: 1024px) { .wrap { padding: 0 15%; } }

.post-date { font-size: smaller; font-weight: 900; color: #8f4889; }

/* Layout */
.site-header { border-bottom: solid 3px #8f4889; min-height: 56px; }

.site-title, .site-title:hover, .site-title:visited { display: block; font-size: xx-large; font-weight: 900; text-decoration: none; float: left; }
@media screen { .site-title, .site-title:hover, .site-title:visited { color: #d8cee3; text-shadow: 0 0 1px #000, -1px -1px 0px #000, 0 0 1px #000, -1px 0px 0px #000, 0 0 1px #000, -1px 1px 0px #000, 0 0 1px #000, 0px -1px 0px #000, 0 0 1px #000, 0px 0px 0px #000, 0 0 1px #000, 0px 1px 0px #000, 0 0 1px #000, 1px -1px 0px #000, 0 0 1px #000, 1px 0px 0px #000, 0 0 1px #000, 1px 1px 0px #000; } }

.site-nav { float: right; font-size: larger; }
.site-nav .menu-icon { display: none; }

.site-footer { border-top: solid 3px #8f4889; margin: 1em 0 0 0; padding: 1ex 0 1em 0; font-size: smaller; }
.site-footer .wrap { max-width: 800px; }
.site-footer .footer-heading { font-size: larger; margin: 0 auto 15px auto; }
.site-footer .column { float: left; }
.site-footer .footer-col-1 { width: 270px; width: -webkit--calc(35% - 10px); width: -moz--calc(35% - 10px); width: -calc(35% - 10px); }
.site-footer .footer-col-2 { width: 175px; width: -webkit--calc(23.125% - 10px); width: -moz--calc(23.125% - 10px); width: -calc(23.125% - 10px); }
.site-footer .footer-col-3 { width: 335px; width: -webkit--calc(41.875%); width: -moz--calc(41.875%); width: -calc(41.875%); }
.site-footer li, .site-footer p { font-size: smaller; list-style: none; color: #000; }

.site-header, .site-footer { background-image: linear-gradient(90deg, rgba(216, 206, 227, 0.25), rgba(216, 206, 227, 0.25) 50%, transparent 50%, transparent); background-size: 12px 12px; }

.page-content { padding: 30px 0; }
.page-content .post-related { margin: 1em 0 0 0; }
.page-content .post-related h2 { font-size: normal; }
.page-content .post-related li { list-style-type: none; }
.page-content .post-related .post-item { display: -webkit-flex; display: flex; -webkit-align-items: baseline; align-items: baseline; }
.page-content .post-related > * { -webkit-flex: 0 0 auto; flex: 0 0 auto; }
.page-content .post-related .post-date { margin-right: 1ex; -webkit-flex: 1 0 auto; flex: 0 0 auto; }

.home h1 { margin-bottom: 25px; font-size: xx-large; }
.home .posts { list-style-type: none; }
.home .posts .post-item { display: -webkit-flex; display: flex; -webkit-align-items: baseline; align-items: baseline; }
.home .posts > * { -webkit-flex: 0 0 auto; flex: 0 0 auto; }
.home .posts .post-date { margin-right: 1ex; -webkit-flex: 1 0 auto; flex: 0 0 auto; }
.home .posts .post-item { margin-bottom: 1em; }
.home .posts .post-link { font-size: x-large; line-height: 1; }
.home nav.pagination { display: block; text-align: center; }

.archive h1, .tag-list h1 { margin-bottom: 25px; font-size: xx-large; }
.archive li li, .tag-list li li { padding-left: 1em; }
@media screen and (min-width: 480px) { .archive li li, .tag-list li li { padding-left: 2em; } }
.archive .post-item, .tag-list .post-item { display: -webkit-flex; display: flex; -webkit-align-items: baseline; align-items: baseline; }
.archive > *, .tag-list > * { -webkit-flex: 0 0 auto; flex: 0 0 auto; }
.archive .post-date, .tag-list .post-date { margin-right: 1ex; -webkit-flex: 1 0 auto; flex: 0 0 auto; }

.tag-list .tag-cloud { margin: 1em 0; border-bottom: solid 0.5ex #8f4889; }

.post-header { margin: 10px 0 30px; border-bottom: solid 0.5ex #8f4889; }
.post-header h1 { font-size: 300%; line-height: 1.1; font-weight: 800; color: #8f4889; }

.post-footer { border-bottom: solid 0.5ex #8f4889; margin-top: 8px; }

.post-header .meta, .post-footer .meta { font-size: small; text-transform: uppercase; }

.post-footer .source-path { text-transform: none; }

.post-header .tag::after, .post-header .category::after, .post-footer .share a::after { content: ','; padding: 0 1ex 0 0; }

.post-header .tag:last-child::after, .post-header .category:last-child::after, .post-footer .share a:last-child::after { display: none; }

.post-nav { margin: 2px; padding: 0; }
.post-nav .previous-post { float: left; text-align: left; width: 50%; }
.post-nav .next-post { float: right; text-align: right; width: 50%; }

.post-content { margin: 0 0 30px; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { margin: 40px 0 20px 0; }
.post-content h2, .post-content h3 { font-size: xx-large; }
.post-content h4 { font-size: x-large; }
.post-content h5 { font-size: large; }
.post-content p { margin: 10px 0; }
.post-content blockquote, .post-content math, .post-content > table, .post-content > ul, .post-content > ol, .post-content > figure { margin: 1ex auto; }
.post-content blockquote { border-left: 1em solid #8f4889; padding-left: 1em; }
.post-content ul, .post-content ol { margin-left: 1ex; padding-left: 1ex; list-style-position: outside; }
@media screen and (min-width: 480px) { .post-content ul, .post-content ol { padding-left: 2em; } }
.post-content ul > li { list-style-type: disc; }
.post-content ol > li { list-style-type: decimal; }
.post-content dl > dd { padding-left: 1em; }
.post-content code, .post-content pre { border: thin solid #d8cee3; }
.post-content pre { margin: 1ex 0; padding: 8px 12px; overflow: auto; }
.post-content pre code, .post-content pre pre { border: none; }
.post-content pre.terminal { background-color: #333; color: #fff; }
.post-content figure { display: block; margin: 1.25em; padding: 1.25em; border: dashed 3px #d8cee3; text-align: center; }
.post-content table:not([class]):not([style]) { border-collapse: collapse; margin: auto; }
.post-content table:not([class]):not([style]) td, .post-content table:not([class]):not([style]) th { border: 1px solid #d8cee3; padding: 2px; }
.post-content table:not([class]):not([style]) thead > tr:last-child td, .post-content table:not([class]):not([style]) thead > tr:last-child th { border-bottom: 3px solid #d8cee3; }
.post-content table:not([class]):not([style]) tfoot > tr:first-child td, .post-content table:not([class]):not([style]) tfoot > tr:first-child th { border-top: 3px solid #d8cee3; }
.post-content table:not([class]):not([style]) tr > td:first-child, .post-content table:not([class]):not([style]) tr > th:first-child { border-left: none 0px; padding-left: 4px; }
.post-content table:not([class]):not([style]) tr > td:last-child, .post-content table:not([class]):not([style]) tr > th:last-child { border-right: none 0px; padding-right: 4px; }
.post-content table:not([class]):not([style]) caption { text-align: center; }

.post-content:lang(ja) { text-align: justify; text-justify: inter-ideograph; }
.post-content:lang(ja) > p { text-indent: 1em; }
.post-content:lang(ja) > pre + p, .post-content:lang(ja) > math + p, .post-content:lang(ja) > ul + p, .post-content:lang(ja) > ol + p { text-indent: inherit !important; }

@media print { aside, nav { display: none; } }
.prettyprinted { /* Pretty printing styles. Used with prettify.js. */ /* SPAN elements with the classes below are added by prettyprint. */ /* plain text */ /* Use higher contrast and text-weight for printable form. */ /* Put a border around prettyprinted code snippets. */ /* Specify class=linenums on a pre to get line numbering */ /* IE indents via margin-left */ /* Alternate shading for lines */ }
.prettyprinted .pln { color: #000; }
@media screen { .prettyprinted { /* string content */ /* a keyword */ /* a comment */ /* a type name */ /* a literal value */ /* punctuation, lisp open bracket, lisp close bracket */ /* a markup tag name */ /* a markup attribute name */ /* a markup attribute value */ /* a declaration; a variable name */ /* a function name */ }
  .prettyprinted .str { color: #080; }
  .prettyprinted .kwd { color: #008; }
  .prettyprinted .com { color: #800; }
  .prettyprinted .typ { color: #606; }
  .prettyprinted .lit { color: #066; }
  .prettyprinted .pun, .prettyprinted .opn, .prettyprinted .clo { color: #660; }
  .prettyprinted .tag { color: #008; }
  .prettyprinted .atn { color: #606; }
  .prettyprinted .atv { color: #080; }
  .prettyprinted .dec, .prettyprinted .var { color: #606; }
  .prettyprinted .fun { color: red; } }
@media print, projection { .prettyprinted .str { color: #060; }
  .prettyprinted .kwd { color: #006; font-weight: bold; }
  .prettyprinted .com { color: #600; font-style: italic; }
  .prettyprinted .typ { color: #404; font-weight: bold; }
  .prettyprinted .lit { color: #044; }
  .prettyprinted .pun, .prettyprinted .opn, .prettyprinted .clo { color: #440; }
  .prettyprinted .tag { color: #006; font-weight: bold; }
  .prettyprinted .atn { color: #404; }
  .prettyprinted .atv { color: #060; } }
.prettyprinted pre.prettyprint { padding: 2px; border: 1px solid #888; }
.prettyprinted ol.linenums { margin-top: 0; margin-bottom: 0; }
.prettyprinted li.L0, .prettyprinted li.L1, .prettyprinted li.L2, .prettyprinted li.L3, .prettyprinted li.L5, .prettyprinted li.L6, .prettyprinted li.L7, .prettyprinted li.L8 { list-style-type: none; }
.prettyprinted li.L1, .prettyprinted li.L3, .prettyprinted li.L5, .prettyprinted li.L7, .prettyprinted li.L9 { background: #eee; }
